@use "@material/theme" with (
  $primary: #bb9900,
  $secondary: #2500ca,
  $background: #222222,
  $surface: #2e2e2e,
  $on-surface: #cecece
);

@import "~material/material-components-web";
@import "./variables.scss";
@import "./shadows.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}
#app {
  display: flex;
  font-weight: normal;
  height: 100%;
  background-color: var(--mdc-theme-background);
}

div {
  border-radius: var(--mdc-shape-small, 4px);
}

.hidden {
  display: none;
}

// @media (hover: hover) {
//   a:hover {
//     background-color: hsla(160, 100%, 37%, 0.2);
//   }
// }

// @media (min-width: 1024px) {
//   #app {
//     display: grid;
//     grid-template-columns: $nav-width 10fr;
//     height: 100%;
//   }
// }
