$nav-width: 120px;
$admiral: #235cff;
$commander: #fff;
$lieutenant: #5796ff;
$specialist: #da5c5c;
$technician: #e69737;
$member: #ffc900;
$recruit: #1cfac0;
$guest: var(--mdc-theme-on-surface);
$ally: #e05b03;
$bot: var(--mdc-theme-on-surface);
